#conteneur
{
	display: inline;
	justify-content: space-between;
	      /*align-items: stretch; les éléments sont etirés sur tout l'axe(par défaut)
                         flex-end;les éléments sont alignés à la fin
                         flex-start;les éléments sont alignés au debut
                         center;les éléments sont center
                         baseline; les éléments sont alignés sur une ligne de base*/ 
	height: 500px;
    border: 2px solid #444;
}
}
.element
{
   width: 150px;
   height: 100px;
}
.element:nth-child(1)
{
	background-color: orange;

}
.element:nth-child(2)
{
	flex: 2;/* l'élément2 poura grossir 2x plus que le premier*/
	/*order: 2;/* choix de l'ordre de l'élement*/
	background-color: blue;
}
.element:nth-child(3)
{
	flex: 1;/* l'élement prend le reste de place disponible*/
	background-color: green;
}